body {
  background-color: #b8997b;
}

canvas {
  display: flex;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

h1 {
  text-align: center;
}

#h1 {
  background-color: #7c6752;
  width: 350px;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 50px;
}
