body {
  background-color: #b8997b;
}

canvas {
  display: flex;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

canvas:hover {
  cursor: crosshair;
}

h1 {
  text-align: center;
}

#h1 {
  background-color: #7c6752;
  width: 350px;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#button {
  text-align: center;
  margin-top: 25px;
}

#restart {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 30px;
  background-color: #7c6752;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#restart:hover {
  background-color: #a07b56;
  cursor: pointer;
}